<a href="https://colab.research.google.com/github/vitoria-raupp/VisualizacaoDados/blob/main/DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
np.random.seed(505160)
np.random.rand()
np.random.randn()
np.random.rand(10)
np.random.randn(10)
np.random.randint(low=15, high=55, size=10)

array([21, 35, 50, 28, 34, 33, 25, 18, 54, 39])

In [ ]:
dados = { 'estado': ['PR','RS','SC','RJ','MG','SP'],
         'ano': [2014, 2011, 2023, 2022, 2019, 2018],
         'desenpenho':[1.5,1.6,1.2,1.3,1.6,1.8]}

dataframe = pd.DataFrame(dados)
dataframe

  estado   ano  desenpenho
0     PR  2014         1.5
1     RS  2011         1.6
2     SC  2023         1.2
3     RJ  2022         1.3
4     MG  2019         1.6
5     SP  2018         1.8

In [ ]:
type(dados)

dict

In [ ]:
dataframe.ano

0    2014
1    2011
2    2023
3    2022
4    2019
5    2018
Name: ano, dtype: int64

In [ ]:
dataframe.head(0)

Empty DataFrame
Columns: [estado, ano, desenpenho]
Index: []

In [ ]:
dataframe.tail()

  estado   ano  desenpenho
1     RS  2011         1.6
2     SC  2023         1.2
3     RJ  2022         1.3
4     MG  2019         1.6
5     SP  2018         1.8

In [ ]:
dataframe.loc[1]

estado          RS
ano           2011
desenpenho     1.6
Name: 1, dtype: object

In [ ]:
dataframe.iloc[2,1] #linha, coluna

2023

In [ ]:
dataframe.loc[3,'estado']

'RJ'

In [ ]:
dataframe.at[2,'ano'] = 2024
dataframe

  estado   ano  desenpenho
0     PR  2014         1.5
1     RS  2011         1.6
2     SC  2024         1.2
3     RJ  2022         1.3
4     MG  2019         1.6
5     SP  2018         1.8

In [ ]:
dataframe['nova coluna'] = 10
dataframe

  estado   ano  desenpenho  nova coluna
0     PR  2014         1.5           10
1     RS  2011         1.6           10
2     SC  2024         1.2           10
3     RJ  2022         1.3           10
4     MG  2019         1.6           10
5     SP  2018         1.8           10

In [ ]:
dataframe.drop(['nova coluna'], axis=1, inplace=True)  #inplace executa no mesmo dataframe
dataframe

  estado   ano  desenpenho
0     PR  2014         1.5
1     RS  2011         1.6
2     SC  2024         1.2
3     RJ  2022         1.3
4     MG  2019         1.6
5     SP  2018         1.8

In [ ]:
dataframe.append({"estado": "SC", "ano": 2025, "desempenho": 4 }, ignore_index=True)

<ipython-input-34-d3115f885aef>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe.append({"estado": "SC", "ano": 2025, "desempenho": 4 }, ignore_index=True)

  estado   ano  desenpenho  desempenho
0     PR  2014         1.5         NaN
1     RS  2011         1.6         NaN
2     SC  2024         1.2         NaN
3     RJ  2022         1.3         NaN
4     MG  2019         1.6         NaN
5     SP  2018         1.8         NaN
6     SC  2025         NaN         4.0

In [ ]:
dataframe.loc[1]

estado          RS
ano           2011
desenpenho     1.6
Name: 1, dtype: object