<a href="https://colab.research.google.com/github/vitoria-raupp/VisualizacaoDados/blob/main/SINAP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
sinapi = pd.read_excel('Trabalho com Dados SINAPI.XLS')
sinapi.head()

,PRECOS DE INSUMOS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,MES DE COLETA: 02/2022,NaN,NaN,NaN,NaN
2,LOCALIDADE: 3420 - CURITIBA,NaN,NaN,NaN,NaN
3,"ENCARGOS SOCIAIS (%) HORISTA 85,67 MENSALIST...",NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN

In [ ]:
sinapi.columns

Index(['        PRECOS DE INSUMOS', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4'],
      dtype='object')

In [ ]:
sinapi.columns = list(sinapi.iloc[5])
sinapi

,CODIGO,DESCRICAO DO INSUMO,UNIDADE,ORIGEM DO PRECO,PRECO MEDIANO R$
0,NaN,NaN,NaN,NaN,NaN
1,MES DE COLETA: 02/2022,NaN,NaN,NaN,NaN
2,LOCALIDADE: 3420 - CURITIBA,NaN,NaN,NaN,NaN
3,"ENCARGOS SOCIAIS (%) HORISTA 85,67 MENSALIST...",NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
5275,41096,VIGIA DIURNO (MENSALISTA),MES,CR,"2.141,80"
5276,41776,"VIGIA NOTURNO, HORA EFETIVAMENTE TRABALHADA DE...",H,CR,"16,67"
5277,11157,WASH PRIMER PARA TINTA AUTOMOTIVA,GL,CR,"137,26"
5278,NaN,NaN,NaN,NaN,NaN
5279,TOTAL DE INSUMOS : 5272,NaN,NaN,NaN,NaN

In [ ]:
sinapi.drop(range(0,6), inplace = True)
sinapi

,CODIGO,DESCRICAO DO INSUMO,UNIDADE,ORIGEM DO PRECO,PRECO MEDIANO R$
6,1363,!EM PROCESSO DE DESATIVACAO! CHAPA DE MADEIRA ...,M2,C,"19,60"
7,1344,!EM PROCESSO DE DESATIVACAO! CHAPA DE MADEIRA ...,UN,CR,"37,36"
8,1342,!EM PROCESSO DE DESATIVACAO! CHAPA DE MADEIRA ...,UN,CR,"66,04"
9,1349,!EM PROCESSO DE DESATIVACAO! CHAPA DE MADEIRA ...,UN,CR,"94,18"
10,1350,!EM PROCESSO DE DESATIVACAO! CHAPA DE MADEIRA ...,UN,C,"35,00"
...,...,...,...,...,...
5275,41096,VIGIA DIURNO (MENSALISTA),MES,CR,"2.141,80"
5276,41776,"VIGIA NOTURNO, HORA EFETIVAMENTE TRABALHADA DE...",H,CR,"16,67"
5277,11157,WASH PRIMER PARA TINTA AUTOMOTIVA,GL,CR,"137,26"
5278,NaN,NaN,NaN,NaN,NaN
5279,TOTAL DE INSUMOS : 5272,NaN,NaN,NaN,NaN

In [ ]:
sinapi.reset_index(inplace = True)  # muda index
sinapi

,level_0,index,CODIGO,DESCRICAO DO INSUMO,UNIDADE,ORIGEM DO PRECO,PRECO MEDIANO R$
0,0,6,1363,!EM PROCESSO DE DESATIVACAO! CHAPA DE MADEIRA ...,M2,C,"19,60"
1,1,7,1344,!EM PROCESSO DE DESATIVACAO! CHAPA DE MADEIRA ...,UN,CR,"37,36"
2,2,8,1342,!EM PROCESSO DE DESATIVACAO! CHAPA DE MADEIRA ...,UN,CR,"66,04"
3,3,9,1349,!EM PROCESSO DE DESATIVACAO! CHAPA DE MADEIRA ...,UN,CR,"94,18"
4,4,10,1350,!EM PROCESSO DE DESATIVACAO! CHAPA DE MADEIRA ...,UN,C,"35,00"
...,...,...,...,...,...,...,...
5269,5269,5275,41096,VIGIA DIURNO (MENSALISTA),MES,CR,"2.141,80"
5270,5270,5276,41776,"VIGIA NOTURNO, HORA EFETIVAMENTE TRABALHADA DE...",H,CR,"16,67"
5271,5271,5277,11157,WASH PRIMER PARA TINTA AUTOMOTIVA,GL,CR,"137,26"
5272,5272,5278,NaN,NaN,NaN,NaN,NaN
5273,5273,5279,TOTAL DE INSUMOS : 5272,NaN,NaN,NaN,NaN

In [ ]:
sinapi = sinapi[0:-2] # remove as duas ultimas (-)
sinapi.tail()

,level_0,index,CODIGO,DESCRICAO DO INSUMO,UNIDADE,ORIGEM DO PRECO,PRECO MEDIANO R$
5267,5267,5273,4481,VIGA NAO APARELHADA *8 X 16* CM EM MACARANDUBA...,M,CR,"52,12"
5268,5268,5274,34345,VIGIA DIURNO,H,CR,"12,16"
5269,5269,5275,41096,VIGIA DIURNO (MENSALISTA),MES,CR,"2.141,80"
5270,5270,5276,41776,"VIGIA NOTURNO, HORA EFETIVAMENTE TRABALHADA DE...",H,CR,"16,67"
5271,5271,5277,11157,WASH PRIMER PARA TINTA AUTOMOTIVA,GL,CR,"137,26"

In [ ]:
ultimo = len(sinapi) -1
penultimo = len(sinapi) -2
sinapi.drop([ultimo, penultimo], inplace = True) 
sinapi.tail()

<ipython-input-30-295fcdf45872>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinapi.drop([ultimo, penultimo], inplace = True)

,level_0,index,CODIGO,DESCRICAO DO INSUMO,UNIDADE,ORIGEM DO PRECO,PRECO MEDIANO R$
5259,5259,5265,4500,"VIGA *7,5 X 10* CM EM PINUS, MISTA OU EQUIVALE...",M,CR,"9,01"
5260,5260,5266,4448,"VIGA *7,5 X 15 CM EM PINUS, MISTA OU EQUIVALEN...",M,CR,"12,37"
5261,5261,5267,20213,"VIGA APARELHADA *6 X 12* CM, EM MACARANDUBA, ...",M,CR,"24,64"
5262,5262,5268,20211,"VIGA APARELHADA *6 X 16* CM, EM MACARANDUBA, A...",M,CR,"32,62"
5263,5263,5269,40270,"VIGA DE ESCORAMAENTO H20, DE MADEIRA, PESO DE ...",M,AS,"69,08"

In [ ]:
# sinapi['PRECO MEDIANO R$'] = sinapi['PRECO MEDIANO R$'].astype('float')

In [ ]:
def Ponto_nada(x):
  x = str(x).replace('.', '')
  return x

In [ ]:
def Virgula_ponto(x):
  x = str(x).replace(',', '.')
  return float(x)

In [ ]:
Ponto_nada("1.950,60")

'1950,60'

In [ ]:
Virgula_ponto("1.950,60")

'1.950.60'

In [ ]:
sinapi['  PRECO MEDIANO R$'] = sinapi['  PRECO MEDIANO R$'].apply(Ponto_nada)

<ipython-input-42-5dc0357bb879>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinapi['  PRECO MEDIANO R$'] = sinapi['  PRECO MEDIANO R$'].apply(Ponto_nada)

In [ ]:
sinapi['  PRECO MEDIANO R$'] = sinapi['  PRECO MEDIANO R$'].apply(Virgula_ponto)

<ipython-input-49-566000c66f52>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinapi['  PRECO MEDIANO R$'] = sinapi['  PRECO MEDIANO R$'].apply(Virgula_ponto)

In [ ]:
sinapi['  PRECO MEDIANO R$'] = sinapi['  PRECO MEDIANO R$'].astype('float')

<ipython-input-50-0e105c2083df>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinapi['  PRECO MEDIANO R$'] = sinapi['  PRECO MEDIANO R$'].astype('float')

In [ ]:
sinapi.dtypes

level_0                  int64
index                    int64
CODIGO                  object
DESCRICAO DO INSUMO     object
UNIDADE                 object
ORIGEM DO PRECO         object
  PRECO MEDIANO R$     float64
dtype: object