<a href="https://colab.research.google.com/github/vitoria-raupp/VisualizacaoDados/blob/main/Teste_Projeto_inep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
import pandas as pd

In [30]:
d2013 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2013.csv', encoding='latin1', sep=';')

<ipython-input-30-edeedcb33187>:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  d2013 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2013.csv', encoding='latin1', sep=';')

In [32]:
colunas_s = ['NO_REGIAO', 'NO_UF', 'SG_UF', 'CO_ENTIDADE', 'NO_ENTIDADE', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 'NU_ANO_CENSO', 'IN_ENERGIA_INEXISTENTE', 'IN_LABORATORIO_INFORMATICA', 'IN_COMPUTADOR','QT_COMPUTADOR','QT_EQUIP_LOUSA_DIGITAL', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO','QT_COMP_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET', 'IN_INTERNET_ALUNOS','IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA', 'IN_EQUIP_LOUSA_DIGITAL', 'QT_EQUIP_LOUSA_DIGITAL']
d2013s = d2013[colunas_s]
print(d2013s.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242680 entries, 0 to 242679
Data columns (total 34 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   NO_REGIAO                       242680 non-null  object
 1   NO_UF                           242680 non-null  object
 2   SG_UF                           242680 non-null  object
 3   CO_ENTIDADE                     242680 non-null  int64
 4   NO_ENTIDADE                     242680 non-null  object
 5   TP_DEPENDENCIA                  242680 non-null  int64
 6   TP_CATEGORIA_ESCOLA_PRIVADA     242680 non-null  int64
 7   TP_LOCALIZACAO                  242680 non-null  int64
 8   TP_LOCALIZACAO_DIFERENCIADA     242680 non-null  int64
 9   NU_ANO_CENSO                    242680 non-null  int64
 10  IN_ENERGIA_INEXISTENTE          242680 non-null  int64
 11  IN_LABORATORIO_INFORMATICA      242680 non-null  int64
 12  IN_COMPUTADOR                   242680 non-null  int64
 13  QT_COMPUTADOR                   242680 non-null  int64
 14  QT_EQUIP_LOUSA_DIGITAL          242680 non-null  int64
 15  IN_EQUIP_MULTIMIDIA             242680 non-null  int64
 16  QT_EQUIP_MULTIMIDIA             242680 non-null  int64
 17  IN_DESKTOP_ALUNO                242680 non-null  int64
 18  QT_DESKTOP_ALUNO                242680 non-null  int64
 19  IN_COMP_PORTATIL_ALUNO          242680 non-null  int64
 20  QT_COMP_ALUNO                   242680 non-null  int64
 21  QT_COMP_PORTATIL_ALUNO          242680 non-null  int64
 22  IN_TABLET_ALUNO                 242680 non-null  int64
 23  QT_TABLET_ALUNO                 242680 non-null  int64
 24  IN_INTERNET                     242680 non-null  int64
 25  IN_INTERNET_ALUNOS              242680 non-null  int64
 26  IN_INTERNET_ADMINISTRATIVO      242680 non-null  int64
 27  IN_INTERNET_APRENDIZAGEM        242680 non-null  int64
 28  IN_ACESSO_INTERNET_COMPUTADOR   242680 non-null  int64
 29  IN_ACES_INTERNET_DISP_PESSOAIS  242680 non-null  int64
 30  TP_REDE_LOCAL                   242680 non-null  int64
 31  IN_BANDA_LARGA                  242680 non-null  int64
 32  IN_EQUIP_LOUSA_DIGITAL          242680 non-null  int64
 33  QT_EQUIP_LOUSA_DIGITAL          242680 non-null  int64
dtypes: int64(30), object(4)
memory usage: 63.0+ MB
None

In [39]:
for coluna in ['NO_REGIAO', 'NO_UF', 'SG_UF', 'CO_ENTIDADE', 'NO_ENTIDADE', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 'NU_ANO_CENSO', 'IN_ENERGIA_INEXISTENTE', 'IN_LABORATORIO_INFORMATICA', 'IN_COMPUTADOR','QT_COMPUTADOR', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO','QT_COMP_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET', 'IN_INTERNET_ALUNOS','IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA', 'IN_EQUIP_LOUSA_DIGITAL']: #"'QT_EQUIP_LOUSA_DIGITAL'"
    print(f"Contagem de valores na coluna {coluna}:")
    print(d2013s[coluna].value_counts())

Contagem de valores na coluna NO_REGIAO:
NO_REGIAO
Nordeste        95855
Sudeste         76129
Sul             29914
Norte           29297
Centro-Oeste    11485
Name: count, dtype: int64
Contagem de valores na coluna NO_UF:
NO_UF
São Paulo              31518
Minas Gerais           26630
Bahia                  26205
Maranhão               15610
Pará                   14029
Rio de Janeiro         13575
Pernambuco             12721
Ceará                  12554
Rio Grande do Sul      12040
Paraná                 10313
Piauí                   8680
Paraíba                 7786
Santa Catarina          7561
Amazonas                6696
Rio Grande do Norte     5634
Goiás                   5335
Espírito Santo          4406
Alagoas                 3867
Mato Grosso             3215
Tocantins               2896
Sergipe                 2798
Acre                    2049
Rondônia                1848
Mato Grosso do Sul      1717
Distrito Federal        1218
Amapá                    895
Roraima                  884
Name: count, dtype: int64
Contagem de valores na coluna SG_UF:
SG_UF
SP    31518
MG    26630
BA    26205
MA    15610
PA    14029
RJ    13575
PE    12721
CE    12554
RS    12040
PR    10313
PI     8680
PB     7786
SC     7561
AM     6696
RN     5634
GO     5335
ES     4406
AL     3867
MT     3215
TO     2896
SE     2798
AC     2049
RO     1848
MS     1717
DF     1218
AP      895
RR      884
Name: count, dtype: int64
Contagem de valores na coluna CO_ENTIDADE:
CO_ENTIDADE
11022558    1
33100241    1
33037884    1
33037892    1
33037906    1
           ..
26051842    1
26051869    1
26051893    1
26051907    1
53088034    1
Name: count, Length: 242680, dtype: int64
Contagem de valores na coluna NO_ENTIDADE:
NO_ENTIDADE
ESCOLA MUNICIPAL SAO JOSE               169
EM SAO JOSE                             158
ESCOLA MUNICIPAL SANTO ANTONIO          147
ESCOLA SAO JOSE                         106
ESC SAO JOSE                            102
                                       ...
ESCOLA MUNICIPAL DEPUTADO AIRON RIOS      1
ESCOLA MUNICIPAL JOAO LUCIO DA SILVA      1
ESCOLA ABILIO PEREIRA DA SILVA            1
ESCOLA ANTONIO ALVES DE PONTES            1
OBRA SOCIAL NOSSA SENHORA DE FATIMA       1
Name: count, Length: 211190, dtype: int64
Contagem de valores na coluna TP_DEPENDENCIA:
TP_DEPENDENCIA
3    157561
4     49819
2     34777
1       523
Name: count, dtype: int64
Contagem de valores na coluna TP_CATEGORIA_ESCOLA_PRIVADA:
TP_CATEGORIA_ESCOLA_PRIVADA
0    203156
1     29636
4      7340
2      2311
3       237
Name: count, dtype: int64
Contagem de valores na coluna TP_LOCALIZACAO:
TP_LOCALIZACAO
1    137303
2    105377
Name: count, dtype: int64
Contagem de valores na coluna TP_LOCALIZACAO_DIFERENCIADA:
TP_LOCALIZACAO_DIFERENCIADA
0    232813
1      4065
2      3025
3      2183
4       526
6        54
5        14
Name: count, dtype: int64
Contagem de valores na coluna NU_ANO_CENSO:
NU_ANO_CENSO
2013    242680
Name: count, dtype: int64
Contagem de valores na coluna IN_ENERGIA_INEXISTENTE:
IN_ENERGIA_INEXISTENTE
0    234469
1      8211
Name: count, dtype: int64
Contagem de valores na coluna IN_LABORATORIO_INFORMATICA:
IN_LABORATORIO_INFORMATICA
0    156730
1     85950
Name: count, dtype: int64
Contagem de valores na coluna IN_COMPUTADOR:
IN_COMPUTADOR
1    145037
0     97643
Name: count, dtype: int64
Contagem de valores na coluna QT_COMPUTADOR:
QT_COMPUTADOR
0      97643
1      24376
2      12578
5      11817
3       6769
       ...
765        1
757        1
573        1
392        1
226        1
Name: count, Length: 514, dtype: int64
Contagem de valores na coluna IN_EQUIP_MULTIMIDIA:
IN_EQUIP_MULTIMIDIA
0    159462
1     83218
Name: count, dtype: int64
Contagem de valores na coluna QT_EQUIP_MULTIMIDIA:
QT_EQUIP_MULTIMIDIA
0      159462
1       51737
2       16746
3        5732
4        2130
        ...
88          1
114         1
92          1
144         1
69          1
Name: count, Length: 101, dtype: int64
Contagem de valores na coluna IN_DESKTOP_ALUNO:
IN_DESKTOP_ALUNO
0    242680
Name: count, dtype: int64
Contagem de valores na coluna QT_DESKTOP_ALUNO:
QT_DESKTOP_ALUNO
0    242680
Name: count, dtype: int64
Contagem de valores na coluna IN_COMP_PORTATIL_ALUNO:
IN_COMP_PORTATIL_ALUNO
0    242680
Name: count, dtype: int64
Contagem de valores na coluna QT_COMP_ALUNO:
QT_COMP_ALUNO
0       138529
5        13285
10       10564
1         6959
18        5163
         ...
535          1
218          1
246          1
1147         1
580          1
Name: count, Length: 420, dtype: int64
Contagem de valores na coluna QT_COMP_PORTATIL_ALUNO:
QT_COMP_PORTATIL_ALUNO
0    242680
Name: count, dtype: int64
Contagem de valores na coluna IN_TABLET_ALUNO:
IN_TABLET_ALUNO
0    242680
Name: count, dtype: int64
Contagem de valores na coluna QT_TABLET_ALUNO:
QT_TABLET_ALUNO
0    242680
Name: count, dtype: int64
Contagem de valores na coluna IN_INTERNET:
IN_INTERNET
0    130195
1    112485
Name: count, dtype: int64
Contagem de valores na coluna IN_INTERNET_ALUNOS:
IN_INTERNET_ALUNOS
0    242680
Name: count, dtype: int64
Contagem de valores na coluna IN_INTERNET_ADMINISTRATIVO:
IN_INTERNET_ADMINISTRATIVO
0    242680
Name: count, dtype: int64
Contagem de valores na coluna IN_INTERNET_APRENDIZAGEM:
IN_INTERNET_APRENDIZAGEM
0    242680
Name: count, dtype: int64
Contagem de valores na coluna IN_ACESSO_INTERNET_COMPUTADOR:
IN_ACESSO_INTERNET_COMPUTADOR
0    242680
Name: count, dtype: int64
Contagem de valores na coluna IN_ACES_INTERNET_DISP_PESSOAIS:
IN_ACES_INTERNET_DISP_PESSOAIS
0    242680
Name: count, dtype: int64
Contagem de valores na coluna TP_REDE_LOCAL:
TP_REDE_LOCAL
0    242680
Name: count, dtype: int64
Contagem de valores na coluna IN_BANDA_LARGA:
IN_BANDA_LARGA
0    149379
1     93301
Name: count, dtype: int64
Contagem de valores na coluna IN_EQUIP_LOUSA_DIGITAL:
IN_EQUIP_LOUSA_DIGITAL
0    242680
Name: count, dtype: int64

In [4]:
d2013s.head()

,NO_REGIAO,NO_UF,SG_UF,CO_ENTIDADE,NO_ENTIDADE,TP_DEPENDENCIA,TP_CATEGORIA_ESCOLA_PRIVADA,TP_LOCALIZACAO,TP_LOCALIZACAO_DIFERENCIADA,NU_ANO_CENSO,...,IN_TABLET_ALUNO,QT_TABLET_ALUNO,IN_INTERNET,IN_INTERNET_ALUNOS,IN_INTERNET_ADMINISTRATIVO,IN_INTERNET_APRENDIZAGEM,IN_ACESSO_INTERNET_COMPUTADOR,IN_ACES_INTERNET_DISP_PESSOAIS,TP_REDE_LOCAL,IN_BANDA_LARGA
0,Norte,Rondônia,RO,11022558,EIEEF HAP BITT TUPARI,2,0,2,2,2013,...,0,0,0,0,0,0,0,0,0,0
1,Norte,Rondônia,RO,11024275,CEEJA LUIZ VAZ DE CAMOES,2,0,1,0,2013,...,0,0,1,0,0,0,0,0,0,1
2,Norte,Rondônia,RO,11024291,EMMEF 07 DE SETEMBRO,3,0,2,0,2013,...,0,0,0,0,0,0,0,0,0,0
3,Norte,Rondônia,RO,11024313,EMMEF AFONSO AURELIO PORTO,3,0,2,0,2013,...,0,0,0,0,0,0,0,0,0,0
4,Norte,Rondônia,RO,11024348,EMMEF ALUISIO DE AZEVEDO,3,0,2,0,2013,...,0,0,0,0,0,0,0,0,0,0

In [5]:
d2013s.columns

Index(['NO_REGIAO', 'NO_UF', 'SG_UF', 'CO_ENTIDADE', 'NO_ENTIDADE',
       'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO',
       'TP_LOCALIZACAO_DIFERENCIADA', 'NU_ANO_CENSO', 'IN_ENERGIA_INEXISTENTE',
       'IN_LABORATORIO_INFORMATICA', 'IN_COMPUTADOR', 'QT_EQUIP_LOUSA_DIGITAL',
       'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO',
       'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO', 'QT_COMP_PORTATIL_ALUNO',
       'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET',
       'IN_INTERNET_ALUNOS', 'IN_INTERNET_ADMINISTRATIVO',
       'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR',
       'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA'],
      dtype='object')

In [6]:
print(d2013s.isnull().sum())

NO_REGIAO                         0
NO_UF                             0
SG_UF                             0
CO_ENTIDADE                       0
NO_ENTIDADE                       0
TP_DEPENDENCIA                    0
TP_CATEGORIA_ESCOLA_PRIVADA       0
TP_LOCALIZACAO                    0
TP_LOCALIZACAO_DIFERENCIADA       0
NU_ANO_CENSO                      0
IN_ENERGIA_INEXISTENTE            0
IN_LABORATORIO_INFORMATICA        0
IN_COMPUTADOR                     0
QT_EQUIP_LOUSA_DIGITAL            0
IN_EQUIP_MULTIMIDIA               0
QT_EQUIP_MULTIMIDIA               0
IN_DESKTOP_ALUNO                  0
QT_DESKTOP_ALUNO                  0
IN_COMP_PORTATIL_ALUNO            0
QT_COMP_PORTATIL_ALUNO            0
IN_TABLET_ALUNO                   0
QT_TABLET_ALUNO                   0
IN_INTERNET                       0
IN_INTERNET_ALUNOS                0
IN_INTERNET_ADMINISTRATIVO        0
IN_INTERNET_APRENDIZAGEM          0
IN_ACESSO_INTERNET_COMPUTADOR     0
IN_ACES_INTERNET_DISP_PESSOAIS    0
TP_REDE_LOCAL                     0
IN_BANDA_LARGA                    0
dtype: int64

In [7]:
print(d2013s.describe())

        CO_ENTIDADE  TP_DEPENDENCIA  TP_CATEGORIA_ESCOLA_PRIVADA  \
count  2.426800e+05   242680.000000                242680.000000
mean   2.981646e+07        3.057673                     0.265077
std    9.317643e+06        0.594884                     0.763326
min    1.100002e+07        1.000000                     0.000000
25%    2.316582e+07        3.000000                     0.000000
50%    2.942184e+07        3.000000                     0.000000
75%    3.517840e+07        3.000000                     0.000000
max    5.308803e+07        4.000000                     4.000000

       TP_LOCALIZACAO  TP_LOCALIZACAO_DIFERENCIADA  NU_ANO_CENSO  \
count   242680.000000                242680.000000      242680.0
mean         1.434222                     0.078960        2013.0
std          0.495655                     0.430659           0.0
min          1.000000                     0.000000        2013.0
25%          1.000000                     0.000000        2013.0
50%          1.000000                     0.000000        2013.0
75%          2.000000                     0.000000        2013.0
max          2.000000                     6.000000        2013.0

       IN_ENERGIA_INEXISTENTE  IN_LABORATORIO_INFORMATICA  IN_COMPUTADOR  \
count           242680.000000               242680.000000  242680.000000
mean                 0.033835                    0.354170       0.597647
std                  0.180804                    0.478262       0.490373
min                  0.000000                    0.000000       0.000000
25%                  0.000000                    0.000000       0.000000
50%                  0.000000                    0.000000       1.000000
75%                  0.000000                    1.000000       1.000000
max                  1.000000                    1.000000       1.000000

       QT_EQUIP_LOUSA_DIGITAL  ...  IN_TABLET_ALUNO  QT_TABLET_ALUNO  \
count                242680.0  ...         242680.0         242680.0
mean                      0.0  ...              0.0              0.0
std                       0.0  ...              0.0              0.0
min                       0.0  ...              0.0              0.0
25%                       0.0  ...              0.0              0.0
50%                       0.0  ...              0.0              0.0
75%                       0.0  ...              0.0              0.0
max                       0.0  ...              0.0              0.0

         IN_INTERNET  IN_INTERNET_ALUNOS  IN_INTERNET_ADMINISTRATIVO  \
count  242680.000000            242680.0                    242680.0
mean        0.463512                 0.0                         0.0
std         0.498668                 0.0                         0.0
min         0.000000                 0.0                         0.0
25%         0.000000                 0.0                         0.0
50%         0.000000                 0.0                         0.0
75%         1.000000                 0.0                         0.0
max         1.000000                 0.0                         0.0

       IN_INTERNET_APRENDIZAGEM  IN_ACESSO_INTERNET_COMPUTADOR  \
count                  242680.0                       242680.0
mean                        0.0                            0.0
std                         0.0                            0.0
min                         0.0                            0.0
25%                         0.0                            0.0
50%                         0.0                            0.0
75%                         0.0                            0.0
max                         0.0                            0.0

       IN_ACES_INTERNET_DISP_PESSOAIS  TP_REDE_LOCAL  IN_BANDA_LARGA
count                        242680.0       242680.0   242680.000000
mean                              0.0            0.0        0.384461
std                               0.0            0.0        0.486469
min                               0.0            0.0        0.000000
25%                               0.0            0.0        0.000000
50%                               0.0            0.0        0.000000
75%                               0.0            0.0        1.000000
max                               0.0            0.0        1.000000

[8 rows x 26 columns]

In [19]:
d2014 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2014.csv', encoding='latin1', sep=';')
colunas_selecionadas = ['NO_REGIAO', 'NO_UF', 'SG_UF', 'CO_ENTIDADE', 'NO_ENTIDADE', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 'NU_ANO_CENSO', 'IN_ENERGIA_INEXISTENTE', 'IN_LABORATORIO_INFORMATICA', 'IN_COMPUTADOR', 'QT_EQUIP_LOUSA_DIGITAL', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET', 'IN_INTERNET_ALUNOS','IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA']
d2014s = d2014[colunas_selecionadas]
print(d2014s.info())

<ipython-input-19-2ad1f677eb09>:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  d2014 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2014.csv', encoding='latin1', sep=';')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242929 entries, 0 to 242928
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   NO_REGIAO                       242929 non-null  object
 1   NO_UF                           242929 non-null  object
 2   SG_UF                           242929 non-null  object
 3   CO_ENTIDADE                     242929 non-null  int64
 4   NO_ENTIDADE                     242929 non-null  object
 5   TP_DEPENDENCIA                  242929 non-null  int64
 6   TP_CATEGORIA_ESCOLA_PRIVADA     242929 non-null  int64
 7   TP_LOCALIZACAO                  242929 non-null  int64
 8   TP_LOCALIZACAO_DIFERENCIADA     242929 non-null  int64
 9   NU_ANO_CENSO                    242929 non-null  int64
 10  IN_ENERGIA_INEXISTENTE          242929 non-null  int64
 11  IN_LABORATORIO_INFORMATICA      242929 non-null  int64
 12  IN_COMPUTADOR                   242929 non-null  int64
 13  QT_EQUIP_LOUSA_DIGITAL          242929 non-null  int64
 14  IN_EQUIP_MULTIMIDIA             242929 non-null  int64
 15  QT_EQUIP_MULTIMIDIA             242929 non-null  int64
 16  IN_DESKTOP_ALUNO                242929 non-null  int64
 17  QT_DESKTOP_ALUNO                242929 non-null  int64
 18  IN_COMP_PORTATIL_ALUNO          242929 non-null  int64
 19  QT_COMP_PORTATIL_ALUNO          242929 non-null  int64
 20  IN_TABLET_ALUNO                 242929 non-null  int64
 21  QT_TABLET_ALUNO                 242929 non-null  int64
 22  IN_INTERNET                     242929 non-null  int64
 23  IN_INTERNET_ALUNOS              242929 non-null  int64
 24  IN_INTERNET_ADMINISTRATIVO      242929 non-null  int64
 25  IN_INTERNET_APRENDIZAGEM        242929 non-null  int64
 26  IN_ACESSO_INTERNET_COMPUTADOR   242929 non-null  int64
 27  IN_ACES_INTERNET_DISP_PESSOAIS  242929 non-null  int64
 28  TP_REDE_LOCAL                   242929 non-null  int64
 29  IN_BANDA_LARGA                  242929 non-null  int64
dtypes: int64(26), object(4)
memory usage: 55.6+ MB
None

In [20]:
for coluna1 in ['NO_REGIAO', 'NO_UF', 'SG_UF', 'CO_ENTIDADE', 'NO_ENTIDADE', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 'NU_ANO_CENSO', 'IN_ENERGIA_INEXISTENTE', 'IN_LABORATORIO_INFORMATICA', 'IN_COMPUTADOR', 'QT_EQUIP_LOUSA_DIGITAL', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET', 'IN_INTERNET_ALUNOS','IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA']:
    print(f"Contagem de valores na coluna {coluna1}:")
    print(d2014s[coluna1].value_counts())

Contagem de valores na coluna NO_REGIAO:
NO_REGIAO
Nordeste        95423
Sudeste         76643
Sul             30166
Norte           29146
Centro-Oeste    11551
Name: count, dtype: int64
Contagem de valores na coluna NO_UF:
NO_UF
São Paulo              31962
Minas Gerais           26611
Bahia                  26295
Maranhão               15667
Pará                   13929
Rio de Janeiro         13719
Pernambuco             12622
Ceará                  12494
Rio Grande do Sul      12110
Paraná                 10345
Piauí                   8593
Santa Catarina          7711
Paraíba                 7426
Amazonas                6755
Rio Grande do Norte     5688
Goiás                   5331
Espírito Santo          4351
Alagoas                 3787
Mato Grosso             3205
Tocantins               2891
Sergipe                 2851
Acre                    1995
Rondônia                1782
Mato Grosso do Sul      1768
Distrito Federal        1247
Amapá                    906
Roraima                  888
Name: count, dtype: int64
Contagem de valores na coluna SG_UF:
SG_UF
SP    31962
MG    26611
BA    26295
MA    15667
PA    13929
RJ    13719
PE    12622
CE    12494
RS    12110
PR    10345
PI     8593
SC     7711
PB     7426
AM     6755
RN     5688
GO     5331
ES     4351
AL     3787
MT     3205
TO     2891
SE     2851
AC     1995
RO     1782
MS     1768
DF     1247
AP      906
RR      888
Name: count, dtype: int64
Contagem de valores na coluna CO_ENTIDADE:
CO_ENTIDADE
11022558    1
33031959    1
33031789    1
33031797    1
33031800    1
           ..
26130890    1
26133164    1
26133318    1
26134415    1
53088034    1
Name: count, Length: 242929, dtype: int64
Contagem de valores na coluna NO_ENTIDADE:
NO_ENTIDADE
ESCOLA MUNICIPAL SAO JOSE              168
EM SAO JOSE                            157
ESCOLA MUNICIPAL SANTO ANTONIO         147
EM SAO FRANCISCO                        97
ESCOLA MUNICIPAL RUI BARBOSA            96
                                      ...
ESCOLA MUNICIPAL DO ENGENHO CUMARU       1
ESCOLA MUNICIPAL ENGENHO MORENO          1
ESCOLA AMOR E TRABALHO                   1
ESCOLA MUL DO ENGENHO GAMILEIRA          1
OBRA SOCIAL NOSSA SENHORA DE FATIMA      1
Name: count, Length: 211723, dtype: int64
Contagem de valores na coluna TP_DEPENDENCIA:
TP_DEPENDENCIA
3    156733
4     50951
2     34684
1       561
Name: count, dtype: int64
Contagem de valores na coluna TP_CATEGORIA_ESCOLA_PRIVADA:
TP_CATEGORIA_ESCOLA_PRIVADA
0    202662
1     30417
4      7329
2      2292
3       229
Name: count, dtype: int64
Contagem de valores na coluna TP_LOCALIZACAO:
TP_LOCALIZACAO
1    139339
2    103590
Name: count, dtype: int64
Contagem de valores na coluna TP_LOCALIZACAO_DIFERENCIADA:
TP_LOCALIZACAO_DIFERENCIADA
0    232607
1      4256
2      3031
3      2381
4       597
6        46
5        11
Name: count, dtype: int64
Contagem de valores na coluna NU_ANO_CENSO:
NU_ANO_CENSO
2014    242929
Name: count, dtype: int64
Contagem de valores na coluna IN_ENERGIA_INEXISTENTE:
IN_ENERGIA_INEXISTENTE
0    235447
1      7482
Name: count, dtype: int64
Contagem de valores na coluna IN_LABORATORIO_INFORMATICA:
IN_LABORATORIO_INFORMATICA
0    157571
1     85358
Name: count, dtype: int64
Contagem de valores na coluna IN_COMPUTADOR:
IN_COMPUTADOR
1    148576
0     94353
Name: count, dtype: int64
Contagem de valores na coluna QT_EQUIP_LOUSA_DIGITAL:
QT_EQUIP_LOUSA_DIGITAL
0    242929
Name: count, dtype: int64
Contagem de valores na coluna IN_EQUIP_MULTIMIDIA:
IN_EQUIP_MULTIMIDIA
0    150484
1     92445
Name: count, dtype: int64
Contagem de valores na coluna QT_EQUIP_MULTIMIDIA:
QT_EQUIP_MULTIMIDIA
0       150484
1        55603
2        18615
3         6741
4         2594
         ...
1204         1
83           1
84           1
121          1
219          1
Name: count, Length: 138, dtype: int64
Contagem de valores na coluna IN_DESKTOP_ALUNO:
IN_DESKTOP_ALUNO
0    242929
Name: count, dtype: int64
Contagem de valores na coluna QT_DESKTOP_ALUNO:
QT_DESKTOP_ALUNO
0    242929
Name: count, dtype: int64
Contagem de valores na coluna IN_COMP_PORTATIL_ALUNO:
IN_COMP_PORTATIL_ALUNO
0    242929
Name: count, dtype: int64
Contagem de valores na coluna QT_COMP_PORTATIL_ALUNO:
QT_COMP_PORTATIL_ALUNO
0    242929
Name: count, dtype: int64
Contagem de valores na coluna IN_TABLET_ALUNO:
IN_TABLET_ALUNO
0    242929
Name: count, dtype: int64
Contagem de valores na coluna QT_TABLET_ALUNO:
QT_TABLET_ALUNO
0    242929
Name: count, dtype: int64
Contagem de valores na coluna IN_INTERNET:
IN_INTERNET
0    126026
1    116903
Name: count, dtype: int64
Contagem de valores na coluna IN_INTERNET_ALUNOS:
IN_INTERNET_ALUNOS
0    242929
Name: count, dtype: int64
Contagem de valores na coluna IN_INTERNET_ADMINISTRATIVO:
IN_INTERNET_ADMINISTRATIVO
0    242929
Name: count, dtype: int64
Contagem de valores na coluna IN_INTERNET_APRENDIZAGEM:
IN_INTERNET_APRENDIZAGEM
0    242929
Name: count, dtype: int64
Contagem de valores na coluna IN_ACESSO_INTERNET_COMPUTADOR:
IN_ACESSO_INTERNET_COMPUTADOR
0    242929
Name: count, dtype: int64
Contagem de valores na coluna IN_ACES_INTERNET_DISP_PESSOAIS:
IN_ACES_INTERNET_DISP_PESSOAIS
0    242929
Name: count, dtype: int64
Contagem de valores na coluna TP_REDE_LOCAL:
TP_REDE_LOCAL
0    242929
Name: count, dtype: int64
Contagem de valores na coluna IN_BANDA_LARGA:
IN_BANDA_LARGA
0    146282
1     96647
Name: count, dtype: int64

In [21]:
d2015 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2015.csv', encoding='latin1', sep=';')
colunas_selecionadas = ['NO_REGIAO', 'NO_UF', 'SG_UF', 'CO_ENTIDADE', 'NO_ENTIDADE', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 'NU_ANO_CENSO', 'IN_ENERGIA_INEXISTENTE', 'IN_LABORATORIO_INFORMATICA', 'IN_COMPUTADOR', 'QT_EQUIP_LOUSA_DIGITAL', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET', 'IN_INTERNET_ALUNOS','IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA']
d2015s = d2015[colunas_selecionadas]
print(d2015s.info())

<ipython-input-21-3154ac06b976>:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  d2015 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2015.csv', encoding='latin1', sep=';')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237879 entries, 0 to 237878
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   NO_REGIAO                       237879 non-null  object
 1   NO_UF                           237879 non-null  object
 2   SG_UF                           237879 non-null  object
 3   CO_ENTIDADE                     237879 non-null  int64
 4   NO_ENTIDADE                     237879 non-null  object
 5   TP_DEPENDENCIA                  237879 non-null  int64
 6   TP_CATEGORIA_ESCOLA_PRIVADA     237879 non-null  int64
 7   TP_LOCALIZACAO                  237879 non-null  int64
 8   TP_LOCALIZACAO_DIFERENCIADA     237879 non-null  int64
 9   NU_ANO_CENSO                    237879 non-null  int64
 10  IN_ENERGIA_INEXISTENTE          237879 non-null  int64
 11  IN_LABORATORIO_INFORMATICA      237879 non-null  int64
 12  IN_COMPUTADOR                   237879 non-null  int64
 13  QT_EQUIP_LOUSA_DIGITAL          237879 non-null  int64
 14  IN_EQUIP_MULTIMIDIA             237879 non-null  int64
 15  QT_EQUIP_MULTIMIDIA             237879 non-null  int64
 16  IN_DESKTOP_ALUNO                237879 non-null  int64
 17  QT_DESKTOP_ALUNO                237879 non-null  int64
 18  IN_COMP_PORTATIL_ALUNO          237879 non-null  int64
 19  QT_COMP_PORTATIL_ALUNO          237879 non-null  int64
 20  IN_TABLET_ALUNO                 237879 non-null  int64
 21  QT_TABLET_ALUNO                 237879 non-null  int64
 22  IN_INTERNET                     237879 non-null  int64
 23  IN_INTERNET_ALUNOS              237879 non-null  int64
 24  IN_INTERNET_ADMINISTRATIVO      237879 non-null  int64
 25  IN_INTERNET_APRENDIZAGEM        237879 non-null  int64
 26  IN_ACESSO_INTERNET_COMPUTADOR   237879 non-null  int64
 27  IN_ACES_INTERNET_DISP_PESSOAIS  237879 non-null  int64
 28  TP_REDE_LOCAL                   237879 non-null  int64
 29  IN_BANDA_LARGA                  237879 non-null  int64
dtypes: int64(26), object(4)
memory usage: 54.4+ MB
None

In [22]:
for coluna2 in ['NO_REGIAO', 'NO_UF', 'SG_UF', 'CO_ENTIDADE', 'NO_ENTIDADE', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 'NU_ANO_CENSO', 'IN_ENERGIA_INEXISTENTE', 'IN_LABORATORIO_INFORMATICA', 'IN_COMPUTADOR', 'QT_EQUIP_LOUSA_DIGITAL', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET', 'IN_INTERNET_ALUNOS','IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA']:
    print(f"Contagem de valores na coluna {coluna2}:")
    print(d2015s[coluna2].value_counts())

Contagem de valores na coluna NO_REGIAO:
NO_REGIAO
Nordeste        91659
Sudeste         76650
Sul             29932
Norte           28253
Centro-Oeste    11385
Name: count, dtype: int64
Contagem de valores na coluna NO_UF:
NO_UF
São Paulo              32446
Minas Gerais           26095
Bahia                  24522
Maranhão               15445
Rio de Janeiro         13767
Pará                   13634
Ceará                  12460
Pernambuco             12020
Rio Grande do Sul      12009
Paraná                 10190
Piauí                   7944
Santa Catarina          7733
Paraíba                 7135
Amazonas                6438
Rio Grande do Norte     5602
Goiás                   5075
Espírito Santo          4342
Alagoas                 3711
Mato Grosso             3207
Tocantins               2882
Sergipe                 2820
Acre                    1955
Mato Grosso do Sul      1813
Rondônia                1589
Distrito Federal        1290
Amapá                    885
Roraima                  870
Name: count, dtype: int64
Contagem de valores na coluna SG_UF:
SG_UF
SP    32446
MG    26095
BA    24522
MA    15445
RJ    13767
PA    13634
CE    12460
PE    12020
RS    12009
PR    10190
PI     7944
SC     7733
PB     7135
AM     6438
RN     5602
GO     5075
ES     4342
AL     3711
MT     3207
TO     2882
SE     2820
AC     1955
MS     1813
RO     1589
DF     1290
AP      885
RR      870
Name: count, dtype: int64
Contagem de valores na coluna CO_ENTIDADE:
CO_ENTIDADE
11022558    1
33083410    1
33083290    1
33083304    1
33083312    1
           ..
26040670    1
26040697    1
26040719    1
26040727    1
53088034    1
Name: count, Length: 237879, dtype: int64
Contagem de valores na coluna NO_ENTIDADE:
NO_ENTIDADE
ESCOLA MUNICIPAL SAO JOSE                  167
EM SAO JOSE                                148
ESCOLA MUNICIPAL SANTO ANTONIO             145
ESCOLA MUNICIPAL RUI BARBOSA                94
EM SAO FRANCISCO                            92
                                          ...
GRUPO ESCOLAR BALBINA GOMES FERREIRA         1
GRUPO ESCOLAR ELVIRA NOBRE DA PAIXAO         1
GRUPO ESCOLAR FELIPE BERNARDO                1
ESCOLA MUNICIPAL ALCINA MAXIMO FERREIRA      1
OBRA SOCIAL NOSSA SENHORA DE FATIMA          1
Name: count, Length: 208350, dtype: int64
Contagem de valores na coluna TP_DEPENDENCIA:
TP_DEPENDENCIA
3    152039
4     50552
2     34641
1       647
Name: count, dtype: int64
Contagem de valores na coluna TP_CATEGORIA_ESCOLA_PRIVADA:
TP_CATEGORIA_ESCOLA_PRIVADA
0    197393
1     30029
4      8011
2      2212
3       234
Name: count, dtype: int64
Contagem de valores na coluna TP_LOCALIZACAO:
TP_LOCALIZACAO
1    139448
2     98431
Name: count, dtype: int64
Contagem de valores na coluna TP_LOCALIZACAO_DIFERENCIADA:
TP_LOCALIZACAO_DIFERENCIADA
0    226785
1      4498
2      3047
3      2279
4      1156
6        87
5        27
Name: count, dtype: int64
Contagem de valores na coluna NU_ANO_CENSO:
NU_ANO_CENSO
2015    237879
Name: count, dtype: int64
Contagem de valores na coluna IN_ENERGIA_INEXISTENTE:
IN_ENERGIA_INEXISTENTE
0    231616
1      6263
Name: count, dtype: int64
Contagem de valores na coluna IN_LABORATORIO_INFORMATICA:
IN_LABORATORIO_INFORMATICA
0    153993
1     83886
Name: count, dtype: int64
Contagem de valores na coluna IN_COMPUTADOR:
IN_COMPUTADOR
1    150951
0     86928
Name: count, dtype: int64
Contagem de valores na coluna QT_EQUIP_LOUSA_DIGITAL:
QT_EQUIP_LOUSA_DIGITAL
0    237879
Name: count, dtype: int64
Contagem de valores na coluna IN_EQUIP_MULTIMIDIA:
IN_EQUIP_MULTIMIDIA
0    139790
1     98089
Name: count, dtype: int64
Contagem de valores na coluna QT_EQUIP_MULTIMIDIA:
QT_EQUIP_MULTIMIDIA
0      139790
1       58033
2       19772
3        7511
4        2991
        ...
99          1
160         1
107         1
97          1
145         1
Name: count, Length: 126, dtype: int64
Contagem de valores na coluna IN_DESKTOP_ALUNO:
IN_DESKTOP_ALUNO
0    237879
Name: count, dtype: int64
Contagem de valores na coluna QT_DESKTOP_ALUNO:
QT_DESKTOP_ALUNO
0    237879
Name: count, dtype: int64
Contagem de valores na coluna IN_COMP_PORTATIL_ALUNO:
IN_COMP_PORTATIL_ALUNO
0    237879
Name: count, dtype: int64
Contagem de valores na coluna QT_COMP_PORTATIL_ALUNO:
QT_COMP_PORTATIL_ALUNO
0    237879
Name: count, dtype: int64
Contagem de valores na coluna IN_TABLET_ALUNO:
IN_TABLET_ALUNO
0    237879
Name: count, dtype: int64
Contagem de valores na coluna QT_TABLET_ALUNO:
QT_TABLET_ALUNO
0    237879
Name: count, dtype: int64
Contagem de valores na coluna IN_INTERNET:
IN_INTERNET
1    123912
0    113967
Name: count, dtype: int64
Contagem de valores na coluna IN_INTERNET_ALUNOS:
IN_INTERNET_ALUNOS
0    237879
Name: count, dtype: int64
Contagem de valores na coluna IN_INTERNET_ADMINISTRATIVO:
IN_INTERNET_ADMINISTRATIVO
0    237879
Name: count, dtype: int64
Contagem de valores na coluna IN_INTERNET_APRENDIZAGEM:
IN_INTERNET_APRENDIZAGEM
0    237879
Name: count, dtype: int64
Contagem de valores na coluna IN_ACESSO_INTERNET_COMPUTADOR:
IN_ACESSO_INTERNET_COMPUTADOR
0    237879
Name: count, dtype: int64
Contagem de valores na coluna IN_ACES_INTERNET_DISP_PESSOAIS:
IN_ACES_INTERNET_DISP_PESSOAIS
0    237879
Name: count, dtype: int64
Contagem de valores na coluna TP_REDE_LOCAL:
TP_REDE_LOCAL
0    237879
Name: count, dtype: int64
Contagem de valores na coluna IN_BANDA_LARGA:
IN_BANDA_LARGA
0    135563
1    102316
Name: count, dtype: int64

In [23]:
d2016 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2016.csv', encoding='latin1', sep=';')
colunas_selecionadas = ['NO_REGIAO', 'NO_UF', 'SG_UF', 'CO_ENTIDADE', 'NO_ENTIDADE', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 'NU_ANO_CENSO', 'IN_ENERGIA_INEXISTENTE', 'IN_LABORATORIO_INFORMATICA', 'IN_COMPUTADOR', 'QT_EQUIP_LOUSA_DIGITAL', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET', 'IN_INTERNET_ALUNOS','IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA']
d2016s = d2016[colunas_selecionadas]
d2016s.to_csv('censo_escolar_selecionado.csv', index=False)
print(d2016s.info())

<ipython-input-23-5824f8fa0d4a>:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  d2016 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2016.csv', encoding='latin1', sep=';')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237506 entries, 0 to 237505
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   NO_REGIAO                       237506 non-null  object
 1   NO_UF                           237506 non-null  object
 2   SG_UF                           237506 non-null  object
 3   CO_ENTIDADE                     237506 non-null  int64
 4   NO_ENTIDADE                     237506 non-null  object
 5   TP_DEPENDENCIA                  237506 non-null  int64
 6   TP_CATEGORIA_ESCOLA_PRIVADA     237506 non-null  int64
 7   TP_LOCALIZACAO                  237506 non-null  int64
 8   TP_LOCALIZACAO_DIFERENCIADA     237506 non-null  int64
 9   NU_ANO_CENSO                    237506 non-null  int64
 10  IN_ENERGIA_INEXISTENTE          237506 non-null  int64
 11  IN_LABORATORIO_INFORMATICA      237506 non-null  int64
 12  IN_COMPUTADOR                   237506 non-null  int64
 13  QT_EQUIP_LOUSA_DIGITAL          237506 non-null  int64
 14  IN_EQUIP_MULTIMIDIA             237506 non-null  int64
 15  QT_EQUIP_MULTIMIDIA             237506 non-null  int64
 16  IN_DESKTOP_ALUNO                237506 non-null  int64
 17  QT_DESKTOP_ALUNO                237506 non-null  int64
 18  IN_COMP_PORTATIL_ALUNO          237506 non-null  int64
 19  QT_COMP_PORTATIL_ALUNO          237506 non-null  int64
 20  IN_TABLET_ALUNO                 237506 non-null  int64
 21  QT_TABLET_ALUNO                 237506 non-null  int64
 22  IN_INTERNET                     237506 non-null  int64
 23  IN_INTERNET_ALUNOS              237506 non-null  int64
 24  IN_INTERNET_ADMINISTRATIVO      237506 non-null  int64
 25  IN_INTERNET_APRENDIZAGEM        237506 non-null  int64
 26  IN_ACESSO_INTERNET_COMPUTADOR   237506 non-null  int64
 27  IN_ACES_INTERNET_DISP_PESSOAIS  237506 non-null  int64
 28  TP_REDE_LOCAL                   237506 non-null  int64
 29  IN_BANDA_LARGA                  237506 non-null  int64
dtypes: int64(26), object(4)
memory usage: 54.4+ MB
None

In [24]:
for coluna3 in ['NO_REGIAO', 'NO_UF', 'SG_UF', 'CO_ENTIDADE', 'NO_ENTIDADE', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 'NU_ANO_CENSO', 'IN_ENERGIA_INEXISTENTE', 'IN_LABORATORIO_INFORMATICA', 'IN_COMPUTADOR', 'QT_EQUIP_LOUSA_DIGITAL', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET', 'IN_INTERNET_ALUNOS','IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA']:
    print(f"Contagem de valores na coluna {coluna3}:")
    print(d2016s[coluna3].value_counts())

Contagem de valores na coluna NO_REGIAO:
NO_REGIAO
Nordeste        92260
Sudeste         75892
Sul             29820
Norte           27805
Centro-Oeste    11729
Name: count, dtype: int64
Contagem de valores na coluna NO_UF:
NO_UF
São Paulo              32437
Bahia                  25701
Minas Gerais           25589
Maranhão               14934
Rio de Janeiro         13559
Pará                   13369
Ceará                  12256
Pernambuco             12234
Rio Grande do Sul      11920
Paraná                 10178
Piauí                   8054
Santa Catarina          7722
Paraíba                 7019
Amazonas                6372
Rio Grande do Norte     5566
Goiás                   5359
Espírito Santo          4307
Alagoas                 3698
Mato Grosso             3231
Tocantins               2845
Sergipe                 2798
Acre                    1852
Mato Grosso do Sul      1836
Rondônia                1608
Distrito Federal        1303
Amapá                    894
Roraima                  865
Name: count, dtype: int64
Contagem de valores na coluna SG_UF:
SG_UF
SP    32437
BA    25701
MG    25589
MA    14934
RJ    13559
PA    13369
CE    12256
PE    12234
RS    11920
PR    10178
PI     8054
SC     7722
PB     7019
AM     6372
RN     5566
GO     5359
ES     4307
AL     3698
MT     3231
TO     2845
SE     2798
AC     1852
MS     1836
RO     1608
DF     1303
AP      894
RR      865
Name: count, dtype: int64
Contagem de valores na coluna CO_ENTIDADE:
CO_ENTIDADE
11022558    1
33087024    1
33087040    1
33087059    1
33087067    1
           ..
26003406    1
26003414    1
26003422    1
26003430    1
53088034    1
Name: count, Length: 237506, dtype: int64
Contagem de valores na coluna NO_ENTIDADE:
NO_ENTIDADE
ESCOLA MUNICIPAL SAO JOSE                                  171
ESCOLA MUNICIPAL SANTO ANTONIO                             145
EM SAO JOSE                                                122
ESCOLA MUNICIPAL RUI BARBOSA                                95
ESCOLA MUNICIPAL SANTA LUZIA                                94
                                                          ...
ESCOLA MUNICIPAL JOSE ORLANDO DUARTE                         1
ESCOLA MUNICIPAL MARINA RODRIGUES SIQUEIRA                   1
ESCOLA ESTADUAL PROFESSORA MARIZA JOSE BARBOSA DA SILVA      1
ESCOLINHA RECANTO INOCENTE                                   1
OBRA SOCIAL NOSSA SENHORA DE FATIMA                          1
Name: count, Length: 208522, dtype: int64
Contagem de valores na coluna TP_DEPENDENCIA:
TP_DEPENDENCIA
3    150994
4     51287
2     34522
1       703
Name: count, dtype: int64
Contagem de valores na coluna TP_CATEGORIA_ESCOLA_PRIVADA:
TP_CATEGORIA_ESCOLA_PRIVADA
0    196790
1     30713
4      7581
2      2205
3       217
Name: count, dtype: int64
Contagem de valores na coluna TP_LOCALIZACAO:
TP_LOCALIZACAO
1    141013
2     96493
Name: count, dtype: int64
Contagem de valores na coluna TP_LOCALIZACAO_DIFERENCIADA:
TP_LOCALIZACAO_DIFERENCIADA
0    226449
1      4440
2      3083
3      2318
4      1129
6        53
5        34
Name: count, dtype: int64
Contagem de valores na coluna NU_ANO_CENSO:
NU_ANO_CENSO
2016    237506
Name: count, dtype: int64
Contagem de valores na coluna IN_ENERGIA_INEXISTENTE:
IN_ENERGIA_INEXISTENTE
0    231868
1      5638
Name: count, dtype: int64
Contagem de valores na coluna IN_LABORATORIO_INFORMATICA:
IN_LABORATORIO_INFORMATICA
0    157915
1     79591
Name: count, dtype: int64
Contagem de valores na coluna IN_COMPUTADOR:
IN_COMPUTADOR
1    152870
0     84636
Name: count, dtype: int64
Contagem de valores na coluna QT_EQUIP_LOUSA_DIGITAL:
QT_EQUIP_LOUSA_DIGITAL
0    237506
Name: count, dtype: int64
Contagem de valores na coluna IN_EQUIP_MULTIMIDIA:
IN_EQUIP_MULTIMIDIA
0    135413
1    102093
Name: count, dtype: int64
Contagem de valores na coluna QT_EQUIP_MULTIMIDIA:
QT_EQUIP_MULTIMIDIA
0      135413
1       58729
2       20772
3        8124
4        3424
        ...
104         1
105         1
106         1
77          1
145         1
Name: count, Length: 119, dtype: int64
Contagem de valores na coluna IN_DESKTOP_ALUNO:
IN_DESKTOP_ALUNO
0    237506
Name: count, dtype: int64
Contagem de valores na coluna QT_DESKTOP_ALUNO:
QT_DESKTOP_ALUNO
0    237506
Name: count, dtype: int64
Contagem de valores na coluna IN_COMP_PORTATIL_ALUNO:
IN_COMP_PORTATIL_ALUNO
0    237506
Name: count, dtype: int64
Contagem de valores na coluna QT_COMP_PORTATIL_ALUNO:
QT_COMP_PORTATIL_ALUNO
0    237506
Name: count, dtype: int64
Contagem de valores na coluna IN_TABLET_ALUNO:
IN_TABLET_ALUNO
0    237506
Name: count, dtype: int64
Contagem de valores na coluna QT_TABLET_ALUNO:
QT_TABLET_ALUNO
0    237506
Name: count, dtype: int64
Contagem de valores na coluna IN_INTERNET:
IN_INTERNET
1    128969
0    108537
Name: count, dtype: int64
Contagem de valores na coluna IN_INTERNET_ALUNOS:
IN_INTERNET_ALUNOS
0    237506
Name: count, dtype: int64
Contagem de valores na coluna IN_INTERNET_ADMINISTRATIVO:
IN_INTERNET_ADMINISTRATIVO
0    237506
Name: count, dtype: int64
Contagem de valores na coluna IN_INTERNET_APRENDIZAGEM:
IN_INTERNET_APRENDIZAGEM
0    237506
Name: count, dtype: int64
Contagem de valores na coluna IN_ACESSO_INTERNET_COMPUTADOR:
IN_ACESSO_INTERNET_COMPUTADOR
0    237506
Name: count, dtype: int64
Contagem de valores na coluna IN_ACES_INTERNET_DISP_PESSOAIS:
IN_ACES_INTERNET_DISP_PESSOAIS
0    237506
Name: count, dtype: int64
Contagem de valores na coluna TP_REDE_LOCAL:
TP_REDE_LOCAL
0    237506
Name: count, dtype: int64
Contagem de valores na coluna IN_BANDA_LARGA:
IN_BANDA_LARGA
0    131914
1    105592
Name: count, dtype: int64

In [11]:
d2017 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2017.csv', encoding='latin1', sep=';')
colunas_selecionadas = ['NO_REGIAO', 'NO_UF', 'SG_UF', 'CO_ENTIDADE', 'NO_ENTIDADE', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 'NU_ANO_CENSO', 'IN_ENERGIA_INEXISTENTE', 'IN_LABORATORIO_INFORMATICA', 'IN_COMPUTADOR', 'QT_EQUIP_LOUSA_DIGITAL', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET', 'IN_INTERNET_ALUNOS','IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA']
d2017s = d2017[colunas_selecionadas]
print(d2017s.info())

<ipython-input-11-31485fa81997>:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  d2017 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2017.csv', encoding='latin1', sep=';')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236481 entries, 0 to 236480
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   NO_REGIAO                       236481 non-null  object
 1   NO_UF                           236481 non-null  object
 2   SG_UF                           236481 non-null  object
 3   CO_ENTIDADE                     236481 non-null  int64
 4   NO_ENTIDADE                     236481 non-null  object
 5   TP_DEPENDENCIA                  236481 non-null  int64
 6   TP_CATEGORIA_ESCOLA_PRIVADA     236481 non-null  int64
 7   TP_LOCALIZACAO                  236481 non-null  int64
 8   TP_LOCALIZACAO_DIFERENCIADA     236481 non-null  int64
 9   NU_ANO_CENSO                    236481 non-null  int64
 10  IN_ENERGIA_INEXISTENTE          236481 non-null  int64
 11  IN_LABORATORIO_INFORMATICA      236481 non-null  int64
 12  IN_COMPUTADOR                   236481 non-null  int64
 13  QT_EQUIP_LOUSA_DIGITAL          236481 non-null  int64
 14  IN_EQUIP_MULTIMIDIA             236481 non-null  int64
 15  QT_EQUIP_MULTIMIDIA             236481 non-null  int64
 16  IN_DESKTOP_ALUNO                236481 non-null  int64
 17  QT_DESKTOP_ALUNO                236481 non-null  int64
 18  IN_COMP_PORTATIL_ALUNO          236481 non-null  int64
 19  QT_COMP_PORTATIL_ALUNO          236481 non-null  int64
 20  IN_TABLET_ALUNO                 236481 non-null  int64
 21  QT_TABLET_ALUNO                 236481 non-null  int64
 22  IN_INTERNET                     236481 non-null  int64
 23  IN_INTERNET_ALUNOS              236481 non-null  int64
 24  IN_INTERNET_ADMINISTRATIVO      236481 non-null  int64
 25  IN_INTERNET_APRENDIZAGEM        236481 non-null  int64
 26  IN_ACESSO_INTERNET_COMPUTADOR   236481 non-null  int64
 27  IN_ACES_INTERNET_DISP_PESSOAIS  236481 non-null  int64
 28  TP_REDE_LOCAL                   236481 non-null  int64
 29  IN_BANDA_LARGA                  236481 non-null  int64
dtypes: int64(26), object(4)
memory usage: 54.1+ MB
None

In [12]:
d2018 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2018.csv', encoding='latin1', sep=';')
colunas_selecionadas = ['NO_REGIAO', 'NO_UF', 'SG_UF', 'CO_ENTIDADE', 'NO_ENTIDADE', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 'NU_ANO_CENSO', 'IN_ENERGIA_INEXISTENTE', 'IN_LABORATORIO_INFORMATICA', 'IN_COMPUTADOR', 'QT_EQUIP_LOUSA_DIGITAL', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET', 'IN_INTERNET_ALUNOS','IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA']
d2018s = d2018[colunas_selecionadas]
print(d2018s.info())

<ipython-input-12-70a280ff1bc7>:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  d2018 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2018.csv', encoding='latin1', sep=';')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236460 entries, 0 to 236459
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   NO_REGIAO                       236460 non-null  object
 1   NO_UF                           236460 non-null  object
 2   SG_UF                           236460 non-null  object
 3   CO_ENTIDADE                     236460 non-null  int64
 4   NO_ENTIDADE                     236460 non-null  object
 5   TP_DEPENDENCIA                  236460 non-null  int64
 6   TP_CATEGORIA_ESCOLA_PRIVADA     236460 non-null  int64
 7   TP_LOCALIZACAO                  236460 non-null  int64
 8   TP_LOCALIZACAO_DIFERENCIADA     236460 non-null  int64
 9   NU_ANO_CENSO                    236460 non-null  int64
 10  IN_ENERGIA_INEXISTENTE          236460 non-null  int64
 11  IN_LABORATORIO_INFORMATICA      236460 non-null  int64
 12  IN_COMPUTADOR                   236460 non-null  int64
 13  QT_EQUIP_LOUSA_DIGITAL          236460 non-null  int64
 14  IN_EQUIP_MULTIMIDIA             236460 non-null  int64
 15  QT_EQUIP_MULTIMIDIA             236460 non-null  int64
 16  IN_DESKTOP_ALUNO                236460 non-null  int64
 17  QT_DESKTOP_ALUNO                236460 non-null  int64
 18  IN_COMP_PORTATIL_ALUNO          236460 non-null  int64
 19  QT_COMP_PORTATIL_ALUNO          236460 non-null  int64
 20  IN_TABLET_ALUNO                 236460 non-null  int64
 21  QT_TABLET_ALUNO                 236460 non-null  int64
 22  IN_INTERNET                     236460 non-null  int64
 23  IN_INTERNET_ALUNOS              236460 non-null  int64
 24  IN_INTERNET_ADMINISTRATIVO      236460 non-null  int64
 25  IN_INTERNET_APRENDIZAGEM        236460 non-null  int64
 26  IN_ACESSO_INTERNET_COMPUTADOR   236460 non-null  int64
 27  IN_ACES_INTERNET_DISP_PESSOAIS  236460 non-null  int64
 28  TP_REDE_LOCAL                   236460 non-null  int64
 29  IN_BANDA_LARGA                  236460 non-null  int64
dtypes: int64(26), object(4)
memory usage: 54.1+ MB
None

In [13]:
d2019 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2019.csv', encoding='latin1', sep=';')
colunas_selecionadas = ['NO_REGIAO', 'NO_UF', 'SG_UF', 'CO_ENTIDADE', 'NO_ENTIDADE', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 'NU_ANO_CENSO', 'IN_ENERGIA_INEXISTENTE', 'IN_LABORATORIO_INFORMATICA', 'IN_COMPUTADOR', 'QT_EQUIP_LOUSA_DIGITAL', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET', 'IN_INTERNET_ALUNOS','IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA']
d2019s = d2019[colunas_selecionadas]
print(d2019s.info())

<ipython-input-13-b3b70d38ec3d>:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  d2019 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2019.csv', encoding='latin1', sep=';')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228521 entries, 0 to 228520
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   NO_REGIAO                       228521 non-null  object
 1   NO_UF                           228521 non-null  object
 2   SG_UF                           228521 non-null  object
 3   CO_ENTIDADE                     228521 non-null  int64
 4   NO_ENTIDADE                     228521 non-null  object
 5   TP_DEPENDENCIA                  228521 non-null  int64
 6   TP_CATEGORIA_ESCOLA_PRIVADA     228521 non-null  int64
 7   TP_LOCALIZACAO                  228521 non-null  int64
 8   TP_LOCALIZACAO_DIFERENCIADA     228521 non-null  int64
 9   NU_ANO_CENSO                    228521 non-null  int64
 10  IN_ENERGIA_INEXISTENTE          228521 non-null  int64
 11  IN_LABORATORIO_INFORMATICA      228521 non-null  int64
 12  IN_COMPUTADOR                   228521 non-null  int64
 13  QT_EQUIP_LOUSA_DIGITAL          228521 non-null  int64
 14  IN_EQUIP_MULTIMIDIA             228521 non-null  int64
 15  QT_EQUIP_MULTIMIDIA             228521 non-null  int64
 16  IN_DESKTOP_ALUNO                228521 non-null  int64
 17  QT_DESKTOP_ALUNO                228521 non-null  int64
 18  IN_COMP_PORTATIL_ALUNO          228521 non-null  int64
 19  QT_COMP_PORTATIL_ALUNO          228521 non-null  int64
 20  IN_TABLET_ALUNO                 228521 non-null  int64
 21  QT_TABLET_ALUNO                 228521 non-null  int64
 22  IN_INTERNET                     228521 non-null  int64
 23  IN_INTERNET_ALUNOS              228521 non-null  int64
 24  IN_INTERNET_ADMINISTRATIVO      228521 non-null  int64
 25  IN_INTERNET_APRENDIZAGEM        228521 non-null  int64
 26  IN_ACESSO_INTERNET_COMPUTADOR   228521 non-null  int64
 27  IN_ACES_INTERNET_DISP_PESSOAIS  228521 non-null  int64
 28  TP_REDE_LOCAL                   228521 non-null  int64
 29  IN_BANDA_LARGA                  228521 non-null  int64
dtypes: int64(26), object(4)
memory usage: 52.3+ MB
None

In [14]:
d2020 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2020.csv', encoding='latin1', sep=';')
colunas_selecionadas = ['NO_REGIAO', 'NO_UF', 'SG_UF', 'CO_ENTIDADE', 'NO_ENTIDADE', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 'NU_ANO_CENSO', 'IN_ENERGIA_INEXISTENTE', 'IN_LABORATORIO_INFORMATICA', 'IN_COMPUTADOR', 'QT_EQUIP_LOUSA_DIGITAL', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET', 'IN_INTERNET_ALUNOS','IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA']
d2020s = d2020[colunas_selecionadas]
print(d2020s.info())

<ipython-input-14-e7c9c36489dd>:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  d2020 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2020.csv', encoding='latin1', sep=';')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224229 entries, 0 to 224228
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   NO_REGIAO                       224229 non-null  object
 1   NO_UF                           224229 non-null  object
 2   SG_UF                           224229 non-null  object
 3   CO_ENTIDADE                     224229 non-null  int64
 4   NO_ENTIDADE                     224229 non-null  object
 5   TP_DEPENDENCIA                  224229 non-null  int64
 6   TP_CATEGORIA_ESCOLA_PRIVADA     224229 non-null  int64
 7   TP_LOCALIZACAO                  224229 non-null  int64
 8   TP_LOCALIZACAO_DIFERENCIADA     224229 non-null  int64
 9   NU_ANO_CENSO                    224229 non-null  int64
 10  IN_ENERGIA_INEXISTENTE          224229 non-null  int64
 11  IN_LABORATORIO_INFORMATICA      224229 non-null  int64
 12  IN_COMPUTADOR                   224229 non-null  int64
 13  QT_EQUIP_LOUSA_DIGITAL          224229 non-null  int64
 14  IN_EQUIP_MULTIMIDIA             224229 non-null  int64
 15  QT_EQUIP_MULTIMIDIA             224229 non-null  int64
 16  IN_DESKTOP_ALUNO                224229 non-null  int64
 17  QT_DESKTOP_ALUNO                224229 non-null  int64
 18  IN_COMP_PORTATIL_ALUNO          224229 non-null  int64
 19  QT_COMP_PORTATIL_ALUNO          224229 non-null  int64
 20  IN_TABLET_ALUNO                 224229 non-null  int64
 21  QT_TABLET_ALUNO                 224229 non-null  int64
 22  IN_INTERNET                     224229 non-null  int64
 23  IN_INTERNET_ALUNOS              224229 non-null  int64
 24  IN_INTERNET_ADMINISTRATIVO      224229 non-null  int64
 25  IN_INTERNET_APRENDIZAGEM        224229 non-null  int64
 26  IN_ACESSO_INTERNET_COMPUTADOR   224229 non-null  int64
 27  IN_ACES_INTERNET_DISP_PESSOAIS  224229 non-null  int64
 28  TP_REDE_LOCAL                   224229 non-null  int64
 29  IN_BANDA_LARGA                  224229 non-null  int64
dtypes: int64(26), object(4)
memory usage: 51.3+ MB
None

In [15]:
d2021 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2021.csv', encoding='latin1', sep=';')
colunas_selecionadas = ['NO_REGIAO', 'NO_UF', 'SG_UF', 'CO_ENTIDADE', 'NO_ENTIDADE', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 'NU_ANO_CENSO', 'IN_ENERGIA_INEXISTENTE', 'IN_LABORATORIO_INFORMATICA', 'IN_COMPUTADOR', 'QT_EQUIP_LOUSA_DIGITAL', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET', 'IN_INTERNET_ALUNOS','IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA']
d2021s = d2021[colunas_selecionadas]
print(d2021s.info())

<ipython-input-15-fc458a993cf0>:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  d2021 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2021.csv', encoding='latin1', sep=';')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221140 entries, 0 to 221139
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   NO_REGIAO                       221140 non-null  object
 1   NO_UF                           221140 non-null  object
 2   SG_UF                           221140 non-null  object
 3   CO_ENTIDADE                     221140 non-null  int64
 4   NO_ENTIDADE                     221140 non-null  object
 5   TP_DEPENDENCIA                  221140 non-null  int64
 6   TP_CATEGORIA_ESCOLA_PRIVADA     221140 non-null  int64
 7   TP_LOCALIZACAO                  221140 non-null  int64
 8   TP_LOCALIZACAO_DIFERENCIADA     221140 non-null  int64
 9   NU_ANO_CENSO                    221140 non-null  int64
 10  IN_ENERGIA_INEXISTENTE          221140 non-null  int64
 11  IN_LABORATORIO_INFORMATICA      221140 non-null  int64
 12  IN_COMPUTADOR                   221140 non-null  int64
 13  QT_EQUIP_LOUSA_DIGITAL          221140 non-null  int64
 14  IN_EQUIP_MULTIMIDIA             221140 non-null  int64
 15  QT_EQUIP_MULTIMIDIA             221140 non-null  int64
 16  IN_DESKTOP_ALUNO                221140 non-null  int64
 17  QT_DESKTOP_ALUNO                221140 non-null  int64
 18  IN_COMP_PORTATIL_ALUNO          221140 non-null  int64
 19  QT_COMP_PORTATIL_ALUNO          221140 non-null  int64
 20  IN_TABLET_ALUNO                 221140 non-null  int64
 21  QT_TABLET_ALUNO                 221140 non-null  int64
 22  IN_INTERNET                     221140 non-null  int64
 23  IN_INTERNET_ALUNOS              221140 non-null  int64
 24  IN_INTERNET_ADMINISTRATIVO      221140 non-null  int64
 25  IN_INTERNET_APRENDIZAGEM        221140 non-null  int64
 26  IN_ACESSO_INTERNET_COMPUTADOR   221140 non-null  int64
 27  IN_ACES_INTERNET_DISP_PESSOAIS  221140 non-null  int64
 28  TP_REDE_LOCAL                   221140 non-null  int64
 29  IN_BANDA_LARGA                  221140 non-null  int64
dtypes: int64(26), object(4)
memory usage: 50.6+ MB
None

In [16]:
d2022 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2022.csv', encoding='latin1', sep=';')
colunas_selecionadas = ['NO_REGIAO', 'NO_UF', 'SG_UF', 'CO_ENTIDADE', 'NO_ENTIDADE', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 'NU_ANO_CENSO', 'IN_ENERGIA_INEXISTENTE', 'IN_LABORATORIO_INFORMATICA', 'IN_COMPUTADOR', 'QT_EQUIP_LOUSA_DIGITAL', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET', 'IN_INTERNET_ALUNOS','IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA']
d2022s = d2022[colunas_selecionadas]
print(d2022s.info())

<ipython-input-16-c27709a62cea>:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  d2022 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2022.csv', encoding='latin1', sep=';')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224649 entries, 0 to 224648
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   NO_REGIAO                       224649 non-null  object
 1   NO_UF                           224649 non-null  object
 2   SG_UF                           224649 non-null  object
 3   CO_ENTIDADE                     224649 non-null  int64
 4   NO_ENTIDADE                     224649 non-null  object
 5   TP_DEPENDENCIA                  224649 non-null  int64
 6   TP_CATEGORIA_ESCOLA_PRIVADA     41759 non-null   float64
 7   TP_LOCALIZACAO                  224649 non-null  int64
 8   TP_LOCALIZACAO_DIFERENCIADA     180073 non-null  float64
 9   NU_ANO_CENSO                    224649 non-null  int64
 10  IN_ENERGIA_INEXISTENTE          180073 non-null  float64
 11  IN_LABORATORIO_INFORMATICA      180073 non-null  float64
 12  IN_COMPUTADOR                   180073 non-null  float64
 13  QT_EQUIP_LOUSA_DIGITAL          180073 non-null  float64
 14  IN_EQUIP_MULTIMIDIA             180073 non-null  float64
 15  QT_EQUIP_MULTIMIDIA             180073 non-null  float64
 16  IN_DESKTOP_ALUNO                180073 non-null  float64
 17  QT_DESKTOP_ALUNO                180073 non-null  float64
 18  IN_COMP_PORTATIL_ALUNO          180073 non-null  float64
 19  QT_COMP_PORTATIL_ALUNO          180073 non-null  float64
 20  IN_TABLET_ALUNO                 180073 non-null  float64
 21  QT_TABLET_ALUNO                 180073 non-null  float64
 22  IN_INTERNET                     180073 non-null  float64
 23  IN_INTERNET_ALUNOS              180073 non-null  float64
 24  IN_INTERNET_ADMINISTRATIVO      180073 non-null  float64
 25  IN_INTERNET_APRENDIZAGEM        180073 non-null  float64
 26  IN_ACESSO_INTERNET_COMPUTADOR   180073 non-null  float64
 27  IN_ACES_INTERNET_DISP_PESSOAIS  180073 non-null  float64
 28  TP_REDE_LOCAL                   180073 non-null  float64
 29  IN_BANDA_LARGA                  157477 non-null  float64
dtypes: float64(22), int64(4), object(4)
memory usage: 51.4+ MB
None

In [17]:
d2023 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2023.csv', encoding='latin1', sep=';')
colunas_selecionadas = ['NO_REGIAO', 'NO_UF', 'SG_UF', 'CO_ENTIDADE', 'NO_ENTIDADE', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 'NU_ANO_CENSO', 'IN_ENERGIA_INEXISTENTE', 'IN_LABORATORIO_INFORMATICA', 'IN_COMPUTADOR', 'QT_EQUIP_LOUSA_DIGITAL', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET', 'IN_INTERNET_ALUNOS','IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA']
d2023s = d2023[colunas_selecionadas]
print(d2023s.info())

<ipython-input-17-5a7f47acb7ea>:1: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  d2023 = pd.read_csv('/content/drive/My Drive/microdados/microdados_2023.csv', encoding='latin1', sep=';')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217625 entries, 0 to 217624
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   NO_REGIAO                       217625 non-null  object
 1   NO_UF                           217625 non-null  object
 2   SG_UF                           217625 non-null  object
 3   CO_ENTIDADE                     217625 non-null  int64
 4   NO_ENTIDADE                     217625 non-null  object
 5   TP_DEPENDENCIA                  217625 non-null  int64
 6   TP_CATEGORIA_ESCOLA_PRIVADA     42316 non-null   float64
 7   TP_LOCALIZACAO                  217625 non-null  int64
 8   TP_LOCALIZACAO_DIFERENCIADA     180230 non-null  float64
 9   NU_ANO_CENSO                    217625 non-null  int64
 10  IN_ENERGIA_INEXISTENTE          180230 non-null  float64
 11  IN_LABORATORIO_INFORMATICA      180230 non-null  float64
 12  IN_COMPUTADOR                   180230 non-null  float64
 13  QT_EQUIP_LOUSA_DIGITAL          180230 non-null  float64
 14  IN_EQUIP_MULTIMIDIA             180230 non-null  float64
 15  QT_EQUIP_MULTIMIDIA             180230 non-null  float64
 16  IN_DESKTOP_ALUNO                180230 non-null  float64
 17  QT_DESKTOP_ALUNO                180230 non-null  float64
 18  IN_COMP_PORTATIL_ALUNO          180230 non-null  float64
 19  QT_COMP_PORTATIL_ALUNO          180230 non-null  float64
 20  IN_TABLET_ALUNO                 180230 non-null  float64
 21  QT_TABLET_ALUNO                 180230 non-null  float64
 22  IN_INTERNET                     180230 non-null  float64
 23  IN_INTERNET_ALUNOS              180230 non-null  float64
 24  IN_INTERNET_ADMINISTRATIVO      180230 non-null  float64
 25  IN_INTERNET_APRENDIZAGEM        180230 non-null  float64
 26  IN_ACESSO_INTERNET_COMPUTADOR   180230 non-null  float64
 27  IN_ACES_INTERNET_DISP_PESSOAIS  180230 non-null  float64
 28  TP_REDE_LOCAL                   180230 non-null  float64
 29  IN_BANDA_LARGA                  163855 non-null  float64
dtypes: float64(22), int64(4), object(4)
memory usage: 49.8+ MB
None

In [18]:
print(d2014s.isnull().sum())

NO_REGIAO                         0
NO_UF                             0
SG_UF                             0
CO_ENTIDADE                       0
NO_ENTIDADE                       0
TP_DEPENDENCIA                    0
TP_CATEGORIA_ESCOLA_PRIVADA       0
TP_LOCALIZACAO                    0
TP_LOCALIZACAO_DIFERENCIADA       0
NU_ANO_CENSO                      0
IN_ENERGIA_INEXISTENTE            0
IN_LABORATORIO_INFORMATICA        0
IN_COMPUTADOR                     0
QT_EQUIP_LOUSA_DIGITAL            0
IN_EQUIP_MULTIMIDIA               0
QT_EQUIP_MULTIMIDIA               0
IN_DESKTOP_ALUNO                  0
QT_DESKTOP_ALUNO                  0
IN_COMP_PORTATIL_ALUNO            0
QT_COMP_PORTATIL_ALUNO            0
IN_TABLET_ALUNO                   0
QT_TABLET_ALUNO                   0
IN_INTERNET                       0
IN_INTERNET_ALUNOS                0
IN_INTERNET_ADMINISTRATIVO        0
IN_INTERNET_APRENDIZAGEM          0
IN_ACESSO_INTERNET_COMPUTADOR     0
IN_ACES_INTERNET_DISP_PESSOAIS    0
TP_REDE_LOCAL                     0
IN_BANDA_LARGA                    0
dtype: int64

In [19]:
print(d2015s.isnull().sum())

NO_REGIAO                         0
NO_UF                             0
SG_UF                             0
CO_ENTIDADE                       0
NO_ENTIDADE                       0
TP_DEPENDENCIA                    0
TP_CATEGORIA_ESCOLA_PRIVADA       0
TP_LOCALIZACAO                    0
TP_LOCALIZACAO_DIFERENCIADA       0
NU_ANO_CENSO                      0
IN_ENERGIA_INEXISTENTE            0
IN_LABORATORIO_INFORMATICA        0
IN_COMPUTADOR                     0
QT_EQUIP_LOUSA_DIGITAL            0
IN_EQUIP_MULTIMIDIA               0
QT_EQUIP_MULTIMIDIA               0
IN_DESKTOP_ALUNO                  0
QT_DESKTOP_ALUNO                  0
IN_COMP_PORTATIL_ALUNO            0
QT_COMP_PORTATIL_ALUNO            0
IN_TABLET_ALUNO                   0
QT_TABLET_ALUNO                   0
IN_INTERNET                       0
IN_INTERNET_ALUNOS                0
IN_INTERNET_ADMINISTRATIVO        0
IN_INTERNET_APRENDIZAGEM          0
IN_ACESSO_INTERNET_COMPUTADOR     0
IN_ACES_INTERNET_DISP_PESSOAIS    0
TP_REDE_LOCAL                     0
IN_BANDA_LARGA                    0
dtype: int64

In [20]:
print(d2016s.isnull().sum())

NO_REGIAO                         0
NO_UF                             0
SG_UF                             0
CO_ENTIDADE                       0
NO_ENTIDADE                       0
TP_DEPENDENCIA                    0
TP_CATEGORIA_ESCOLA_PRIVADA       0
TP_LOCALIZACAO                    0
TP_LOCALIZACAO_DIFERENCIADA       0
NU_ANO_CENSO                      0
IN_ENERGIA_INEXISTENTE            0
IN_LABORATORIO_INFORMATICA        0
IN_COMPUTADOR                     0
QT_EQUIP_LOUSA_DIGITAL            0
IN_EQUIP_MULTIMIDIA               0
QT_EQUIP_MULTIMIDIA               0
IN_DESKTOP_ALUNO                  0
QT_DESKTOP_ALUNO                  0
IN_COMP_PORTATIL_ALUNO            0
QT_COMP_PORTATIL_ALUNO            0
IN_TABLET_ALUNO                   0
QT_TABLET_ALUNO                   0
IN_INTERNET                       0
IN_INTERNET_ALUNOS                0
IN_INTERNET_ADMINISTRATIVO        0
IN_INTERNET_APRENDIZAGEM          0
IN_ACESSO_INTERNET_COMPUTADOR     0
IN_ACES_INTERNET_DISP_PESSOAIS    0
TP_REDE_LOCAL                     0
IN_BANDA_LARGA                    0
dtype: int64

In [21]:
print(d2017s.isnull())

        NO_REGIAO  NO_UF  SG_UF  CO_ENTIDADE  NO_ENTIDADE  TP_DEPENDENCIA  \
0           False  False  False        False        False           False
1           False  False  False        False        False           False
2           False  False  False        False        False           False
3           False  False  False        False        False           False
4           False  False  False        False        False           False
...           ...    ...    ...          ...          ...             ...
236476      False  False  False        False        False           False
236477      False  False  False        False        False           False
236478      False  False  False        False        False           False
236479      False  False  False        False        False           False
236480      False  False  False        False        False           False

        TP_CATEGORIA_ESCOLA_PRIVADA  TP_LOCALIZACAO  \
0                             False           False
1                             False           False
2                             False           False
3                             False           False
4                             False           False
...                             ...             ...
236476                        False           False
236477                        False           False
236478                        False           False
236479                        False           False
236480                        False           False

        TP_LOCALIZACAO_DIFERENCIADA  NU_ANO_CENSO  ...  IN_TABLET_ALUNO  \
0                             False         False  ...            False
1                             False         False  ...            False
2                             False         False  ...            False
3                             False         False  ...            False
4                             False         False  ...            False
...                             ...           ...  ...              ...
236476                        False         False  ...            False
236477                        False         False  ...            False
236478                        False         False  ...            False
236479                        False         False  ...            False
236480                        False         False  ...            False

        QT_TABLET_ALUNO  IN_INTERNET  IN_INTERNET_ALUNOS  \
0                 False        False               False
1                 False        False               False
2                 False        False               False
3                 False        False               False
4                 False        False               False
...                 ...          ...                 ...
236476            False        False               False
236477            False        False               False
236478            False        False               False
236479            False        False               False
236480            False        False               False

        IN_INTERNET_ADMINISTRATIVO  IN_INTERNET_APRENDIZAGEM  \
0                            False                     False
1                            False                     False
2                            False                     False
3                            False                     False
4                            False                     False
...                            ...                       ...
236476                       False                     False
236477                       False                     False
236478                       False                     False
236479                       False                     False
236480                       False                     False

        IN_ACESSO_INTERNET_COMPUTADOR  IN_ACES_INTERNET_DISP_PESSOAIS  \
0                               False                           False
1                               False                           False
2                               False                           False
3                               False                           False
4                               False                           False
...                               ...                             ...
236476                          False                           False
236477                          False                           False
236478                          False                           False
236479                          False                           False
236480                          False                           False

        TP_REDE_LOCAL  IN_BANDA_LARGA
0               False           False
1               False           False
2               False           False
3               False           False
4               False           False
...               ...             ...
236476          False           False
236477          False           False
236478          False           False
236479          False           False
236480          False           False

[236481 rows x 30 columns]